<html>
<head>
	<!-- JQuery -->
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<!-- bootstrap -->
	<link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.css.map">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap-theme.css.map">
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<!-- Angular -->
	<script type="text/javascript" src="/js/angular/angular.min.js"></script>
	<script type="text/javascript" src="/js/angular/model.js"></script>
	<script type="text/javascript" src="/js/angular/controller.js"></script>
	<!-- css personalizado -->
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title></title>
</head>
<body>

