<div ng-app="myApp" ng-controller="customerController"> 
  <%- include ../header.ejs %>
  <h2>Clientes</h2>
  <%- include /add_customer.ejs %>
  <br/>

  <table class="table">
     <tr>
         <th>No</th>
         <th>Nome</th>
         <th>Sobrenome</th>
         <th>Aniversário</th>
     </tr>                               
  
  
     <tr ng-repeat="c in customer.list">
         <td>{_c.id_customer_}</td> 
         <td>{_c.name_}</td>
         <td>{_c.last_name_}</td>
         <td>{_c.birth_date|date:"dd/MM/yyyy" _}</td>
     </tr>                                        
  </table>
  
</div>
<%- include ../footer.ejs %>